<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team09.qanda"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThreadDisplay"
            android:label="@string/title_activity_thread_display" >
        </activity>
        <activity
            android:name=".UserThreadsActivity"
            android:label="@string/title_activity_user_threads" >
        </activity>
        <activity
            android:name=".QuestionThreadActivity"
            android:label="@string/title_activity_question_thread" >
        </activity>
        <activity
            android:name=".AddQuestionActivity"
            android:label="@string/title_activity_add_question" >
        </activity>
        <activity
            android:name=".PictureViewActivity"
            android:label="@string/title_activity_picture_view" >
        </activity>
    </application>

</manifest>
